.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 280px;
  height: 100px;
  background: linear-gradient(180deg, #111111 10%, rgba(17, 17, 17, 0.9) 100%);
  position: fixed;
  width: 100%;
  z-index: 1000;


  &__right {
    display: flex;
    gap: 42px;
  }

  &__select {
    width: 100px;
    text-align: center;
    box-shadow: 0px 0px 30px 0px rgba(164, 8, 6, 0.5);
    background: rgba(17, 17, 17, 0.4);
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    border: none;
  }

  &__content {
    display: flex;
    gap: 140px;
    align-items: center;
  }
}

.navigation {
  &__list {
    display: flex;
    gap: 40px;
  }
  &__link {
    color: grey;
    font-size: 18px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      bottom: -8px;
      width: 100%;
      height: 4px;
      background-color: #fff;

      transition: transform 300ms ease-in-out;
      transform: scale(0);
      transform-origin: center;
    }

    &:hover::after {
      transform: scale(1);
    }
    &.active {
      color: #fff;
    }
  }
}

.button {
  height: 46px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #A40806;
  color: #fff;
  border: 0px solid transparent;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
  width: 170px;
}

.button:hover {
  border-color: #A40806;
  box-shadow: 0px 0px 30px 0px #A40806;
}


