.main {
  height: 100vh;
  background: 
  linear-gradient(180deg, rgba(17, 17, 17, 0) 80%, #111111 100%),
    url('/images/main-warrior-bg.png') center/contain no-repeat,
    url('/images/top-bar-logo.svg') center 20px/600px 500px no-repeat,
    url('/images/main-bg.jpg') bottom right/cover no-repeat;
  padding-top: 560px;
  

  &__available {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    background: linear-gradient(
      to right,
      rgba(17, 17, 17, 1) 0%,
      #35100f 50%,
      rgba(17, 17, 17, 1) 100%
    );;
  }
  
  &__subtitle {
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
  }
}

.social {
  &__list {
    display: flex;
    gap: 60px;
    align-items: center;
  }

  &__item {
    transition: all 300ms ease-in-out;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &__item:hover {
    box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.5);
  }
}
