.gallery {
  background: 
  linear-gradient(
    to top,
    rgba(17, 17, 17, 1) 0%,
    rgba(17, 17, 17, 0) 90%
  ),
  linear-gradient(
    to bottom,
    rgba(17, 17, 17, 1) 0%,
    rgba(17, 17, 17, 0) 20%
  ),
  linear-gradient(
    to right,
    rgba(17, 17, 17, 1) 0%, 
    #35100f 50%, 
    rgba(17, 17, 17, 1) 100%
  );
  padding-inline: 230px;
  position: relative;

  @media (max-width: 768px) {
    padding-inline: 20px;
  }

  &__slide1 {
    display: flex;
    gap: 40px;
    padding: 48px 0px 170px 0px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  &__slide2 {
    display: flex;
    gap: 40px;
    padding: 48px 0px 170px 0px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 110px;

    @media (max-width: 1300px) {
      flex-direction: column;
      gap: 30px;
    }
  }
}

.swiper-scrollbar-gallery {
  position: relative;
  height: 4px;
  background: rgba(255, 255, 255, 0.1);
}

.swiper-scrollbar-gallery .swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 1);
}

.scroll {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__titles {
    display: flex;
    justify-content: space-between;
    gap: 280px;
    @media (max-width: 768px) {
      gap: 60px;
    }
  }

  &__title {
    font-size: 24px;
  }
}

.swiper-button-prev-gallery,
.swiper-button-next-gallery {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 76px;
  height: 76px;
  margin-inline: 230px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-button-prev-gallery {
  left: 10px;
  background-image: url('/images/icons/arrow-left.svg');
  background-repeat: no-repeat;
  background-position: 25px center;
  background-size: 20px;
    @media (max-width: 1200px) {
      left: -230px;
      top: 510px;
    }
}

.swiper-button-next-gallery {
  right: 10px;
  background-image: url('/images/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: 32px center;
  background-size: 20px;
  @media (max-width: 1200px) {
    right: -230px;
    top: 510px;
  }
}
