.gallery {
  background-color: rgba(17, 17, 17, 1);

  &__title {
    padding-top: 110px;
  }

  &__slide1 {
    display: flex;
    gap: 40px;
    padding: 48px 0px 170px 0px;
  }
  &__slide2 {
    display: flex;
    gap: 40px;
    padding: 48px 0px 170px 0px;
  }
}
